@import url(./__title/offer__title.css);
@import url(./__subtitle/offer__subtitle.css);
@import url(./__button/offer__button.css);
@import url(./__advantages/offer__advantages.css);
@import url(./__advantage/offer__advantage.css);
@import url(./__advantage-text/offer__advantage-text.css);
@import url(./__container/offer__container.css);
@import url(./__lead/offer__lead.css);

.offer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    max-width: 100%;
    background: #F6FBF3;
    padding-left: 32px;
}

@media screen and (max-width: 1920px){
    .offer {
        padding-left: calc((100% - 1214px)/2);
        padding-right: calc((100% - 1214px)/2);
    }
}

@media screen and (max-width: 1200px){
    .offer {
        padding-left: calc((100% - 960px)/2);
        padding-right: calc((100% - 960px)/2);
    }
}