.advantages__subtitle {
    margin-left: 32px;
    max-width: 386px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 155.5%;
    color: #000000;
}