.advantages__list {
    list-style-type: none;
    margin: 0 34px 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 1920px) {
    .advantages__list {
        margin: 0 calc((100% - 1214px)/2) 0;
    }
}

@media screen and (max-width: 1200px) {
    .advantages__list {
        margin: 0 calc((100% - 960px)/2) 0;
        gap: 20px;
    }
}