.header__title {
    display: flex;
    flex-direction: row;
    margin: 20px 0 20px 33px;
}

@media screen and (max-width: 1920px) {
    .header__title {
        margin: 20px 0 20px calc((100% - 1214px)/2);
    }
}

@media screen and (max-width: 1200px) {
    .header__title {
        margin: 20px 0 20px calc((100% - 960px)/2);
    }
}