.order__title {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 0.05em;
    max-width: 837px;
    margin: 0 0 121px 32px;
    padding-top: 91px;
}

@media screen and (max-width: 1920px) {
    .order__title {
        margin: 0 0 121px calc((100% - 1214px)/2);
    }
}

@media screen and (max-width: 1200px) {
    .order__title {
        margin: 0 0 121px calc((100% - 960px)/2);
    }
}
