.options__item {
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.options__item:nth-child(1) {
    position: absolute;
    top: 35px;
    right: 115px;
}

.options__item:nth-child(2) {
    position: absolute;
    top: 180px;
    right: -26px;
}

.options__item:nth-child(3) {
    position: absolute;
    top: 315px;
    right: -65px;
}

.options__item:nth-child(4) {
    position: absolute;
    top: 455px;
    right: -50px;
}

.options__item:nth-child(5) {
    position: absolute;
    top: 565px;
    right: 5px;
}